<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Главная страница</title>
    <meta charset="UTF-8">
    <th:block th:insert="~{header :: head}"></th:block>
    <style>
                footer {
            background-color: #f8f8f8;
            padding: 20px 0;
            text-align: center;
            margin-top: 40px;
            border-top: 1px solid #e1e1e1;
        }

    </style>
</head>
<body>
<th:block th:insert="~{header :: nav}"></th:block>


<div style="padding: 20px 0; text-align: center;" class="content">
    <h1>Добро пожаловать в Silver Pear — мир изящества и красоты!</h1>
    <p>Начните свой путь к совершенству вместе с нами!</p>

    <div class="product-image">
        <img th:src="@{/images/mainImage.jpg}" alt="Изображение" class="img-fluid">
    </div>
</div>
<footer>
    <div class="content">
        <p>© 2025 Silver Pear. Все права защищены.</p>
        <p>Контакты: info@silverpear.ru | 8 (800) 555-35-35</p>
    </div>
</footer>
</body>
</html>
