<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome!</h1>

<p th:if="${username != null}">
    Hello, <span th:text="${username}"></span>!
</p>

<ul>
    <li><a th:href="@{api/shop/products}">Список продуктов</a></li>
    <li><a th:href="@{api/shop/brands}">Бренды</a></li>
    <li><a th:href="@{/logout}">Выйти</a></li>
</ul>
<p th:if="${username == null}">
    You are not logged in.
</p>
</body>
</html>