<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout (~{::body}, ~{::title})">-->
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
<h2>Login</h2>

<!--<div th:if="${error}" class="modal">-->
<!--  <span class="modal-close" onclick="this.parentElement.style.display='none';">&times;</span>-->
<!--  <p th:text="${error}"></p>-->
<!--</div>-->
<div th:if="${error}" style="color:red;">
  <p th:text="${error}"></p>
</div>
<form th:action="@{/api/auth/login}" method="post">
  <label>Email: <input type="text" name="email"/></label><br/>
  <label>Password: <input type="password" name="password"/></label><br/>
  <button type="submit">Login</button>
</form>

<div>
  <form th:action="@{/api/auth/register}" method="get">
    <button type="submit">Нет аккаунта?</button>
  </form>
</div>
</body>
</html>